version: "3.8"
services:
  bot:
    build: .
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3003:3003"
    volumes:
      - ./:/app
      - /app/node_modules
    networks:
      - botnet
networks:
  botnet:
    driver: bridge
