@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* Skeleton Loading Animation */
.skeleton-text {
  @apply bg-slate-200 dark:bg-slate-700 text-transparent rounded animate-pulse;
}

/* Custom Scrollbar for history */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}

/* Modal Animations */
.modal-open #tx-modal {
  display: flex;
}
.modal-open #tx-modal-backdrop {
  opacity: 1;
}
.modal-open #tx-modal-panel {
  transform: translateY(0);
}

/* Force LTR for numbers/crypto */
.font-en {
  font-family: 'Inter', sans-serif;
  direction: ltr;
}
.dir-ltr {
  direction: ltr;
}